.row1 {
    width: 100%;
    height: 600px;
    padding: opx 20px;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.row1 h1 {
    color: white;
    position: relative;
    padding-top: 10%;
    font-weight: bold;
}

.paragraph1 {
    color: white;
    font-weight: bold;
    font-family: Signika Negative, sans-serif;
    font-size: 35px;
}

.row2 {
    text-align: center;
}

.row3 {
    text-align: center;
    color: white;

}
.whatwedo{
    text-align: center;
}

.footer {
    text-align: center;
}

.form-group {
    background-image: url(/images/assets/backgrounds/c_image.jpg);
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 4%;

}

.form-control {
    border-radius: 10px;
    background: transparent;
    border-color: tomato;
}

.contactUs {
    text-align: center;
    color: whitesmoke;
}

.copyright {
    text-align: center;
}



















